.chead {
    background-color: #000;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .actions-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }

  .search-bar {
    display: flex;
    align-items: center;
    flex: 1;
    margin-bottom: 10px;
  }

  .search-bar .input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-bar input[type="text"] {
    flex: 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .actions-container .btn {
    flex-shrink: 0;
    margin-bottom: 10px;
  }

  .highlight {
    background-color: yellow;
  }

  .sidebar {
    width: 250px;
    position: fixed;
    height: 100%;
    padding-top: 20px;
    background-color: black;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  .sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
  }

  .sidebar a:hover {
    background-color: white;
    color: black;
  }

  .sidebar a i {
    margin-right: 10px;
  }

  .main-content {
    margin-left: 270px;
    padding: 20px;
    background-color: white;
  }

  .teacher-info {
    text-align: center;
    margin-bottom: 20px;
    font-size: x-large;
    color: white;
  }

  .teacher-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 100%;
      position: relative;
    }

    .main-content {
      margin-left: 0;
    }

    .sidebar a {
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }

    .sidebar.active {
      display: block;
    }

    .toggle-sidebar {
      display: block;
    }
  }

  @media (min-width: 769px) {
    .toggle-sidebar {
      display: none;
    }
  }